.navStyle {
  background-color: #7c3b4700;
  font-size: 1.4rem;
  font-family: Verdana;
}

.logo {
  width: 200px;
  height: 50px;
}

li > a {
  color: white;
}

.bg-gra-01 {
  background: -moz-linear-gradient(to bottom right, #000000 0%, #030303 100%);
  background: -o-linear-gradient(to bottom right, #af6666 0%, #3d0303 100%);
  background: linear-gradient(to top right, #b5eff7 10%, #ebb4a4 90%);
}

.p-b-100 {
  padding-top: 100px;
}

.p-t-180 {
  padding-top: 180px;
}

.page-wrapper {
  min-height: 100vh;
}
.cardBackground {
  background-color: #7c3b4700;
}
.colorWhite {
  color: black;
}

body {
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
}
.signup-form {
  width: 500px;
  margin: 0 auto;
}
.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}
.signup-form h2:before,
.signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.signup-form h2:before {
  left: 0;
}
.signup-form h2:after {
  right: 0;
}
.signup-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
.signup-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
  margin-top: 3px;
}
.signup-form .btn {
  font-size: 16px;
  font-weight: bold;
  min-width: 140px;
  outline: none !important;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: none !important;
}

.signup-form .row div:first-child {
  padding-right: 10px;
}
.signup-form .row div:last-child {
  padding-left: 10px;
}
.signup-form a {
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover {
  text-decoration: none;
}
.signup-form form a {
  color: #5cb85c;
  text-decoration: none;
}
.signup-form form a:hover {
  text-decoration: underline;
}


.background-20060b4b{
background-color: #20060b4b;
}

.background-20060b4b{
background-color: #8d304104;
}

.maxwidth18{
  max-width: 18rem;
}
.colorblack{
  color: black;
}

.eventcards{
  background-color: #fdfdfd44;
  border: 1px solid white ; 
}
.wishcard{
  max-width: 18rem;
   background-color: #55152213;
}

.overyscrol{
  overflow-y: scroll; 
  height:600px;
}
.colorgreen{
  color: green;
}
.whiteto{
  color: white;

}

.scrollable{

  width: 150px;
  height: 150px;
  margin: auto;
  overflow: auto;
 }